.b{
    display: flex;
    width: 200px;
    height: 200px;
    display: flex;

    border-radius: 10px;
    left: 50px;

}
.flexBox{
    padding: 10px;

    display: flex;
   
}
h4{
    
    color: white;
}