.pagination {
    justify-content: center;
    margin: 50px 0 0;
  
    li {
      width: 30px;
      height: 30px;
      border: 1px solid gray;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 8px;
      transition: all ease 0.3s;
  
      &:hover {
        background-color: #ffb902;
        border-color: #ffb902;
      }
    }
  }